
<div class="header">
    <div class="contenidoIzquierda">
        <fa-icon [icon]="menuIcon"></fa-icon>
        <p class="casaChollo">{{casaChollo}}</p>
        <p class="comprarAlquilar">{{comprarAlquilar}}</p>
    </div> 
    <div class="contenidoDerecha">
    
        <i class="fa-regular fa-heart iconoDerecha" aria-hidden="true"></i>
        <p class="textoDerecha">{{favoritos}}</p>
        <i class="fa-regular fa-bell iconoDerecha" aria-hidden="true"></i>
        <p class="textoDerecha" id="misAlertas">{{misAlertas}}</p>
        <button type="button" class="btn btn-outline-primary botonesDerecha">Publica</button>
        <button type="button" class="btn btn-primary botonesDerecha"><i class="fa-solid fa-user userIcon"></i>Accede</button>
    </div>
</div>
